@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    background-image: linear-gradient(to right, #1A2A44, #F2F4F8 );
    min-height: 100vh;
    color: white;
  }